In [2]:
import os
import glob
import psycopg2
import pandas as pd

pd.set_option('display.max_colwidth', -1)
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [23]:
filepath = os.path.join(os.getcwd(), 'data', 'log_data', '2018', '11', '2018-11-30-events.json')

In [24]:
tmp_data = pd.read_json(filepath,lines = True)

In [18]:
tmp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 388 entries, 0 to 387
Data columns (total 18 columns):
artist           330 non-null object
auth             388 non-null object
firstName        376 non-null object
gender           376 non-null object
itemInSession    388 non-null int64
lastName         376 non-null object
length           330 non-null float64
level            388 non-null object
location         376 non-null object
method           388 non-null object
page             388 non-null object
registration     376 non-null float64
sessionId        388 non-null int64
song             330 non-null object
status           388 non-null int64
ts               388 non-null int64
userAgent        376 non-null object
userId           388 non-null object
dtypes: float64(2), int64(4), object(12)
memory usage: 54.6+ KB

In [26]:
tmp_data.loc[tmp_data['page'] == 'NextSong', :].tail()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
382,Foo Fighters,Logged In,Rylan,M,57,George,271.38567,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Pretender,200,1543603205796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4""",16
383,Timbiriche,Logged In,Rylan,M,58,George,202.60526,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Besos De Ceniza,200,1543603476796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4""",16
384,A Perfect Circle,Logged In,Rylan,M,59,George,206.05342,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,Rose,200,1543603678796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4""",16
385,Anberlin,Logged In,Rylan,M,60,George,348.68200,paid,"Birmingham-Hoover, AL",PUT,NextSong,1.541020e+12,1076,The Haunting,200,1543603884796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4""",16
387,Deas Vail,Logged In,Elijah,M,0,Davis,237.68771,free,"Detroit-Warren-Dearborn, MI",PUT,NextSong,1.540772e+12,985,Anything You Say (Unreleased Version),200,1543607664796,"""Mozilla/5.0 (Macintosh; Intel Mac OS X 10_9_4) AppleWebKit/537.77.4 (KHTML, like Gecko) Version/7.0.5 Safari/537.77.4""",5

In [19]:
filepath = os.path.join(os.getcwd(), 'data', 'song_data', 'A', 'A', 'A', 'TRAAAAW128F429D538.json')

In [20]:
tmp_data = pd.read_json(filepath,lines = True)

In [21]:
tmp_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 10 columns):
artist_id           1 non-null object
artist_latitude     0 non-null float64
artist_location     1 non-null object
artist_longitude    0 non-null float64
artist_name         1 non-null object
duration            1 non-null float64
num_songs           1 non-null int64
song_id             1 non-null object
title               1 non-null object
year                1 non-null int64
dtypes: float64(3), int64(2), object(5)
memory usage: 160.0+ bytes

In [11]:
tmp_data.head()

,artist_id,artist_latitude,artist_location,artist_longitude,artist_name,duration,num_songs,song_id,title,year
0,ARD7TVE1187B99BFB1,NaN,California - LA,NaN,Casual,218.93179,1,SOMZWCG12A8C13C480,I Didn't Mean To,0

In [1]:
from create_tables import *

In [2]:
main()

drop table if exists songplays - done!
drop table if exists users - done!
drop table if exists songs - done!
drop table if exists artists - done!
drop table if exists time - done!

    create table if not exists songplays (
        songplay_id int,
        start_time bigint,
        user_id int,
        level varchar,
        song_id varchar,
        artist_id varchar,
        session_id int,
        location varchar,
        user_agent varchar
    )
 - done!

    create table if not exists users (
        user_id int,
        first_name varchar,
        last_name varchar,
        gender varchar,
        level varchar
    )
 - done!

    create table if not exists songs (
        song_id varchar,
        title varchar,
        artist_id varchar,
        year int,
        duration float
    )
 - done!

    create table if not exists artists (
        artist_id varchar,
        name varchar,
        location varchar,
        latitude float,
        longitude float
    )
 - done!

    create table if not exists time (
        start_time bigint,
        hour int,
        day int,
        week int,
        month int,
        year int,
        weekday int
    )
 - done!